body 
{
    background-size: cover;
    background-position: center;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#status #numberOfObjects
{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas
{
    box-shadow: 10px 10px 10px darkcyan;
    border-radius: 15px;
    margin-top: 40px;
}
